# coding: utf-8

"""
    Marketing API v.1.0

    IMPORTANT: This swagger links to Criteo production environment. Any test applied here will thus impact real campaigns.  # noqa: E501

    OpenAPI spec version: v.1.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from criteo_marketing.api_client import ApiClient


class SellersV2Api(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_seller_budgets(self, authorization, create_seller_budget_mapi_message, **kwargs):  # noqa: E501
        """create_seller_budgets  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_seller_budgets(authorization, create_seller_budget_mapi_message, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: JWT Bearer Token (required)
        :param list[CreateSellerBudgetMapiMessage] create_seller_budget_mapi_message: (required)
        :return: list[SellerBudgetMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_seller_budgets_with_http_info(authorization, create_seller_budget_mapi_message, **kwargs)  # noqa: E501
        else:
            (data) = self.create_seller_budgets_with_http_info(authorization, create_seller_budget_mapi_message, **kwargs)  # noqa: E501
            return data

    def create_seller_budgets_with_http_info(self, authorization, create_seller_budget_mapi_message, **kwargs):  # noqa: E501
        """create_seller_budgets  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_seller_budgets_with_http_info(authorization, create_seller_budget_mapi_message, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: JWT Bearer Token (required)
        :param list[CreateSellerBudgetMapiMessage] create_seller_budget_mapi_message: (required)
        :return: list[SellerBudgetMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['authorization', 'create_seller_budget_mapi_message']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_seller_budgets" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `create_seller_budgets`")  # noqa: E501
        # verify the required parameter 'create_seller_budget_mapi_message' is set
        if ('create_seller_budget_mapi_message' not in local_var_params or
                local_var_params['create_seller_budget_mapi_message'] is None):
            raise ValueError("Missing the required parameter `create_seller_budget_mapi_message` when calling `create_seller_budgets`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'create_seller_budget_mapi_message' in local_var_params:
            body_params = local_var_params['create_seller_budget_mapi_message']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/budgets', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SellerBudgetMessage]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_budgets_by_seller(self, seller_id, authorization, **kwargs):  # noqa: E501
        """get_budgets_by_seller  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_budgets_by_seller(seller_id, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int seller_id: (required)
        :param str authorization: JWT Bearer Token (required)
        :param str status:
        :param bool with_balance:
        :param bool with_spend:
        :param datetime end_after_date:
        :param datetime start_before_date:
        :param int campaign_id:
        :return: list[SellerBudgetMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_budgets_by_seller_with_http_info(seller_id, authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.get_budgets_by_seller_with_http_info(seller_id, authorization, **kwargs)  # noqa: E501
            return data

    def get_budgets_by_seller_with_http_info(self, seller_id, authorization, **kwargs):  # noqa: E501
        """get_budgets_by_seller  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_budgets_by_seller_with_http_info(seller_id, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int seller_id: (required)
        :param str authorization: JWT Bearer Token (required)
        :param str status:
        :param bool with_balance:
        :param bool with_spend:
        :param datetime end_after_date:
        :param datetime start_before_date:
        :param int campaign_id:
        :return: list[SellerBudgetMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['seller_id', 'authorization', 'status', 'with_balance', 'with_spend', 'end_after_date', 'start_before_date', 'campaign_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_budgets_by_seller" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'seller_id' is set
        if ('seller_id' not in local_var_params or
                local_var_params['seller_id'] is None):
            raise ValueError("Missing the required parameter `seller_id` when calling `get_budgets_by_seller`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_budgets_by_seller`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'seller_id' in local_var_params:
            path_params['sellerId'] = local_var_params['seller_id']  # noqa: E501

        query_params = []
        if 'status' in local_var_params:
            query_params.append(('status', local_var_params['status']))  # noqa: E501
        if 'with_balance' in local_var_params:
            query_params.append(('withBalance', local_var_params['with_balance']))  # noqa: E501
        if 'with_spend' in local_var_params:
            query_params.append(('withSpend', local_var_params['with_spend']))  # noqa: E501
        if 'end_after_date' in local_var_params:
            query_params.append(('endAfterDate', local_var_params['end_after_date']))  # noqa: E501
        if 'start_before_date' in local_var_params:
            query_params.append(('startBeforeDate', local_var_params['start_before_date']))  # noqa: E501
        if 'campaign_id' in local_var_params:
            query_params.append(('campaignId', local_var_params['campaign_id']))  # noqa: E501

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/sellers/{sellerId}/budgets', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SellerBudgetMessage]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_budgets_by_seller_campaign_id(self, seller_campaign_id, authorization, **kwargs):  # noqa: E501
        """get_budgets_by_seller_campaign_id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_budgets_by_seller_campaign_id(seller_campaign_id, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str seller_campaign_id: (required)
        :param str authorization: JWT Bearer Token (required)
        :param str status:
        :param bool with_balance:
        :param bool with_spend:
        :param datetime end_after_date:
        :param datetime start_before_date:
        :return: list[SellerBudgetMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_budgets_by_seller_campaign_id_with_http_info(seller_campaign_id, authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.get_budgets_by_seller_campaign_id_with_http_info(seller_campaign_id, authorization, **kwargs)  # noqa: E501
            return data

    def get_budgets_by_seller_campaign_id_with_http_info(self, seller_campaign_id, authorization, **kwargs):  # noqa: E501
        """get_budgets_by_seller_campaign_id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_budgets_by_seller_campaign_id_with_http_info(seller_campaign_id, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str seller_campaign_id: (required)
        :param str authorization: JWT Bearer Token (required)
        :param str status:
        :param bool with_balance:
        :param bool with_spend:
        :param datetime end_after_date:
        :param datetime start_before_date:
        :return: list[SellerBudgetMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['seller_campaign_id', 'authorization', 'status', 'with_balance', 'with_spend', 'end_after_date', 'start_before_date']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_budgets_by_seller_campaign_id" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'seller_campaign_id' is set
        if ('seller_campaign_id' not in local_var_params or
                local_var_params['seller_campaign_id'] is None):
            raise ValueError("Missing the required parameter `seller_campaign_id` when calling `get_budgets_by_seller_campaign_id`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_budgets_by_seller_campaign_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'seller_campaign_id' in local_var_params:
            path_params['sellerCampaignId'] = local_var_params['seller_campaign_id']  # noqa: E501

        query_params = []
        if 'status' in local_var_params:
            query_params.append(('status', local_var_params['status']))  # noqa: E501
        if 'with_balance' in local_var_params:
            query_params.append(('withBalance', local_var_params['with_balance']))  # noqa: E501
        if 'with_spend' in local_var_params:
            query_params.append(('withSpend', local_var_params['with_spend']))  # noqa: E501
        if 'end_after_date' in local_var_params:
            query_params.append(('endAfterDate', local_var_params['end_after_date']))  # noqa: E501
        if 'start_before_date' in local_var_params:
            query_params.append(('startBeforeDate', local_var_params['start_before_date']))  # noqa: E501

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/seller-campaigns/{sellerCampaignId}/budgets', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SellerBudgetMessage]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_seller(self, seller_id, authorization, **kwargs):  # noqa: E501
        """get_seller  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_seller(seller_id, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int seller_id: (required)
        :param str authorization: JWT Bearer Token (required)
        :return: SellerBase
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_seller_with_http_info(seller_id, authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.get_seller_with_http_info(seller_id, authorization, **kwargs)  # noqa: E501
            return data

    def get_seller_with_http_info(self, seller_id, authorization, **kwargs):  # noqa: E501
        """get_seller  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_seller_with_http_info(seller_id, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int seller_id: (required)
        :param str authorization: JWT Bearer Token (required)
        :return: SellerBase
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['seller_id', 'authorization']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_seller" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'seller_id' is set
        if ('seller_id' not in local_var_params or
                local_var_params['seller_id'] is None):
            raise ValueError("Missing the required parameter `seller_id` when calling `get_seller`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_seller`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'seller_id' in local_var_params:
            path_params['sellerId'] = local_var_params['seller_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/sellers/{sellerId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SellerBase',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_seller_budget(self, budget_id, authorization, **kwargs):  # noqa: E501
        """get_seller_budget  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_seller_budget(budget_id, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int budget_id: (required)
        :param str authorization: JWT Bearer Token (required)
        :return: SellerBudgetMessage
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_seller_budget_with_http_info(budget_id, authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.get_seller_budget_with_http_info(budget_id, authorization, **kwargs)  # noqa: E501
            return data

    def get_seller_budget_with_http_info(self, budget_id, authorization, **kwargs):  # noqa: E501
        """get_seller_budget  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_seller_budget_with_http_info(budget_id, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int budget_id: (required)
        :param str authorization: JWT Bearer Token (required)
        :return: SellerBudgetMessage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['budget_id', 'authorization']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_seller_budget" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'budget_id' is set
        if ('budget_id' not in local_var_params or
                local_var_params['budget_id'] is None):
            raise ValueError("Missing the required parameter `budget_id` when calling `get_seller_budget`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_seller_budget`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'budget_id' in local_var_params:
            path_params['budgetId'] = local_var_params['budget_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/budgets/{budgetId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SellerBudgetMessage',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_seller_budgets(self, authorization, **kwargs):  # noqa: E501
        """get_seller_budgets  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_seller_budgets(authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: JWT Bearer Token (required)
        :param str status:
        :param bool with_balance:
        :param bool with_spend:
        :param datetime end_after_date:
        :param datetime start_before_date:
        :param int campaign_id:
        :param int seller_id:
        :return: list[SellerBudgetMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_seller_budgets_with_http_info(authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.get_seller_budgets_with_http_info(authorization, **kwargs)  # noqa: E501
            return data

    def get_seller_budgets_with_http_info(self, authorization, **kwargs):  # noqa: E501
        """get_seller_budgets  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_seller_budgets_with_http_info(authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: JWT Bearer Token (required)
        :param str status:
        :param bool with_balance:
        :param bool with_spend:
        :param datetime end_after_date:
        :param datetime start_before_date:
        :param int campaign_id:
        :param int seller_id:
        :return: list[SellerBudgetMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['authorization', 'status', 'with_balance', 'with_spend', 'end_after_date', 'start_before_date', 'campaign_id', 'seller_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_seller_budgets" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_seller_budgets`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'status' in local_var_params:
            query_params.append(('status', local_var_params['status']))  # noqa: E501
        if 'with_balance' in local_var_params:
            query_params.append(('withBalance', local_var_params['with_balance']))  # noqa: E501
        if 'with_spend' in local_var_params:
            query_params.append(('withSpend', local_var_params['with_spend']))  # noqa: E501
        if 'end_after_date' in local_var_params:
            query_params.append(('endAfterDate', local_var_params['end_after_date']))  # noqa: E501
        if 'start_before_date' in local_var_params:
            query_params.append(('startBeforeDate', local_var_params['start_before_date']))  # noqa: E501
        if 'campaign_id' in local_var_params:
            query_params.append(('campaignId', local_var_params['campaign_id']))  # noqa: E501
        if 'seller_id' in local_var_params:
            query_params.append(('sellerId', local_var_params['seller_id']))  # noqa: E501

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/budgets', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SellerBudgetMessage]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_seller_campaign(self, seller_campaign_id, authorization, **kwargs):  # noqa: E501
        """get_seller_campaign  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_seller_campaign(seller_campaign_id, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str seller_campaign_id: (required)
        :param str authorization: JWT Bearer Token (required)
        :return: SellerCampaignMessage
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_seller_campaign_with_http_info(seller_campaign_id, authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.get_seller_campaign_with_http_info(seller_campaign_id, authorization, **kwargs)  # noqa: E501
            return data

    def get_seller_campaign_with_http_info(self, seller_campaign_id, authorization, **kwargs):  # noqa: E501
        """get_seller_campaign  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_seller_campaign_with_http_info(seller_campaign_id, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str seller_campaign_id: (required)
        :param str authorization: JWT Bearer Token (required)
        :return: SellerCampaignMessage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['seller_campaign_id', 'authorization']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_seller_campaign" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'seller_campaign_id' is set
        if ('seller_campaign_id' not in local_var_params or
                local_var_params['seller_campaign_id'] is None):
            raise ValueError("Missing the required parameter `seller_campaign_id` when calling `get_seller_campaign`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_seller_campaign`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'seller_campaign_id' in local_var_params:
            path_params['sellerCampaignId'] = local_var_params['seller_campaign_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/seller-campaigns/{sellerCampaignId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SellerCampaignMessage',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_seller_campaigns(self, authorization, **kwargs):  # noqa: E501
        """get_seller_campaigns  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_seller_campaigns(authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: JWT Bearer Token (required)
        :param str seller_status:
        :param int seller_id:
        :param int campaign_id:
        :param str budget_status:
        :return: list[SellerCampaignMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_seller_campaigns_with_http_info(authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.get_seller_campaigns_with_http_info(authorization, **kwargs)  # noqa: E501
            return data

    def get_seller_campaigns_with_http_info(self, authorization, **kwargs):  # noqa: E501
        """get_seller_campaigns  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_seller_campaigns_with_http_info(authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: JWT Bearer Token (required)
        :param str seller_status:
        :param int seller_id:
        :param int campaign_id:
        :param str budget_status:
        :return: list[SellerCampaignMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['authorization', 'seller_status', 'seller_id', 'campaign_id', 'budget_status']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_seller_campaigns" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_seller_campaigns`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'seller_status' in local_var_params:
            query_params.append(('sellerStatus', local_var_params['seller_status']))  # noqa: E501
        if 'seller_id' in local_var_params:
            query_params.append(('sellerId', local_var_params['seller_id']))  # noqa: E501
        if 'campaign_id' in local_var_params:
            query_params.append(('campaignId', local_var_params['campaign_id']))  # noqa: E501
        if 'budget_status' in local_var_params:
            query_params.append(('budgetStatus', local_var_params['budget_status']))  # noqa: E501

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/seller-campaigns', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SellerCampaignMessage]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_seller_campaigns_by_seller(self, seller_id, authorization, **kwargs):  # noqa: E501
        """get_seller_campaigns_by_seller  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_seller_campaigns_by_seller(seller_id, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int seller_id: (required)
        :param str authorization: JWT Bearer Token (required)
        :param str seller_status:
        :param int campaign_id:
        :param str budget_status:
        :return: list[SellerCampaignMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_seller_campaigns_by_seller_with_http_info(seller_id, authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.get_seller_campaigns_by_seller_with_http_info(seller_id, authorization, **kwargs)  # noqa: E501
            return data

    def get_seller_campaigns_by_seller_with_http_info(self, seller_id, authorization, **kwargs):  # noqa: E501
        """get_seller_campaigns_by_seller  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_seller_campaigns_by_seller_with_http_info(seller_id, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int seller_id: (required)
        :param str authorization: JWT Bearer Token (required)
        :param str seller_status:
        :param int campaign_id:
        :param str budget_status:
        :return: list[SellerCampaignMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['seller_id', 'authorization', 'seller_status', 'campaign_id', 'budget_status']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_seller_campaigns_by_seller" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'seller_id' is set
        if ('seller_id' not in local_var_params or
                local_var_params['seller_id'] is None):
            raise ValueError("Missing the required parameter `seller_id` when calling `get_seller_campaigns_by_seller`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_seller_campaigns_by_seller`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'seller_id' in local_var_params:
            path_params['sellerId'] = local_var_params['seller_id']  # noqa: E501

        query_params = []
        if 'seller_status' in local_var_params:
            query_params.append(('sellerStatus', local_var_params['seller_status']))  # noqa: E501
        if 'campaign_id' in local_var_params:
            query_params.append(('campaignId', local_var_params['campaign_id']))  # noqa: E501
        if 'budget_status' in local_var_params:
            query_params.append(('budgetStatus', local_var_params['budget_status']))  # noqa: E501

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/sellers/{sellerId}/seller-campaigns', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SellerCampaignMessage]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_sellers(self, authorization, **kwargs):  # noqa: E501
        """get_sellers  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_sellers(authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: JWT Bearer Token (required)
        :param str seller_status:
        :param bool with_products:
        :param str with_budget_status:
        :return: list[SellerBase]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_sellers_with_http_info(authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.get_sellers_with_http_info(authorization, **kwargs)  # noqa: E501
            return data

    def get_sellers_with_http_info(self, authorization, **kwargs):  # noqa: E501
        """get_sellers  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_sellers_with_http_info(authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: JWT Bearer Token (required)
        :param str seller_status:
        :param bool with_products:
        :param str with_budget_status:
        :return: list[SellerBase]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['authorization', 'seller_status', 'with_products', 'with_budget_status']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_sellers" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_sellers`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'seller_status' in local_var_params:
            query_params.append(('sellerStatus', local_var_params['seller_status']))  # noqa: E501
        if 'with_products' in local_var_params:
            query_params.append(('withProducts', local_var_params['with_products']))  # noqa: E501
        if 'with_budget_status' in local_var_params:
            query_params.append(('withBudgetStatus', local_var_params['with_budget_status']))  # noqa: E501

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/sellers', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SellerBase]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_seller_budget(self, budget_id, start_date, status, amount, end_date, authorization, request_body, **kwargs):  # noqa: E501
        """update_seller_budget  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_seller_budget(budget_id, start_date, status, amount, end_date, authorization, request_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int budget_id: (required)
        :param datetime start_date: (required)
        :param str status: (required)
        :param str amount: (required)
        :param str end_date: (required)
        :param str authorization: JWT Bearer Token (required)
        :param list[int] request_body: (required)
        :return: list[SellerBudgetMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_seller_budget_with_http_info(budget_id, start_date, status, amount, end_date, authorization, request_body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_seller_budget_with_http_info(budget_id, start_date, status, amount, end_date, authorization, request_body, **kwargs)  # noqa: E501
            return data

    def update_seller_budget_with_http_info(self, budget_id, start_date, status, amount, end_date, authorization, request_body, **kwargs):  # noqa: E501
        """update_seller_budget  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_seller_budget_with_http_info(budget_id, start_date, status, amount, end_date, authorization, request_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int budget_id: (required)
        :param datetime start_date: (required)
        :param str status: (required)
        :param str amount: (required)
        :param str end_date: (required)
        :param str authorization: JWT Bearer Token (required)
        :param list[int] request_body: (required)
        :return: list[SellerBudgetMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['budget_id', 'start_date', 'status', 'amount', 'end_date', 'authorization', 'request_body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_seller_budget" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'budget_id' is set
        if ('budget_id' not in local_var_params or
                local_var_params['budget_id'] is None):
            raise ValueError("Missing the required parameter `budget_id` when calling `update_seller_budget`")  # noqa: E501
        # verify the required parameter 'start_date' is set
        if ('start_date' not in local_var_params or
                local_var_params['start_date'] is None):
            raise ValueError("Missing the required parameter `start_date` when calling `update_seller_budget`")  # noqa: E501
        # verify the required parameter 'status' is set
        if ('status' not in local_var_params or
                local_var_params['status'] is None):
            raise ValueError("Missing the required parameter `status` when calling `update_seller_budget`")  # noqa: E501
        # verify the required parameter 'amount' is set
        if ('amount' not in local_var_params or
                local_var_params['amount'] is None):
            raise ValueError("Missing the required parameter `amount` when calling `update_seller_budget`")  # noqa: E501
        # verify the required parameter 'end_date' is set
        if ('end_date' not in local_var_params or
                local_var_params['end_date'] is None):
            raise ValueError("Missing the required parameter `end_date` when calling `update_seller_budget`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `update_seller_budget`")  # noqa: E501
        # verify the required parameter 'request_body' is set
        if ('request_body' not in local_var_params or
                local_var_params['request_body'] is None):
            raise ValueError("Missing the required parameter `request_body` when calling `update_seller_budget`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'budget_id' in local_var_params:
            path_params['budgetId'] = local_var_params['budget_id']  # noqa: E501

        query_params = []
        if 'start_date' in local_var_params:
            query_params.append(('startDate', local_var_params['start_date']))  # noqa: E501
        if 'status' in local_var_params:
            query_params.append(('status', local_var_params['status']))  # noqa: E501
        if 'amount' in local_var_params:
            query_params.append(('amount', local_var_params['amount']))  # noqa: E501
        if 'end_date' in local_var_params:
            query_params.append(('endDate', local_var_params['end_date']))  # noqa: E501

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request_body' in local_var_params:
            body_params = local_var_params['request_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/budgets/{budgetId}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SellerBudgetMessage]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_seller_budgets(self, authorization, update_seller_budget_message, **kwargs):  # noqa: E501
        """update_seller_budgets  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_seller_budgets(authorization, update_seller_budget_message, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: JWT Bearer Token (required)
        :param list[UpdateSellerBudgetMessage] update_seller_budget_message: (required)
        :return: list[SellerBudgetMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_seller_budgets_with_http_info(authorization, update_seller_budget_message, **kwargs)  # noqa: E501
        else:
            (data) = self.update_seller_budgets_with_http_info(authorization, update_seller_budget_message, **kwargs)  # noqa: E501
            return data

    def update_seller_budgets_with_http_info(self, authorization, update_seller_budget_message, **kwargs):  # noqa: E501
        """update_seller_budgets  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_seller_budgets_with_http_info(authorization, update_seller_budget_message, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: JWT Bearer Token (required)
        :param list[UpdateSellerBudgetMessage] update_seller_budget_message: (required)
        :return: list[SellerBudgetMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['authorization', 'update_seller_budget_message']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_seller_budgets" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `update_seller_budgets`")  # noqa: E501
        # verify the required parameter 'update_seller_budget_message' is set
        if ('update_seller_budget_message' not in local_var_params or
                local_var_params['update_seller_budget_message'] is None):
            raise ValueError("Missing the required parameter `update_seller_budget_message` when calling `update_seller_budgets`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'update_seller_budget_message' in local_var_params:
            body_params = local_var_params['update_seller_budget_message']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/budgets', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SellerBudgetMessage]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_seller_campaign(self, seller_campaign_id, bid, authorization, **kwargs):  # noqa: E501
        """update_seller_campaign  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_seller_campaign(seller_campaign_id, bid, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str seller_campaign_id: (required)
        :param float bid: (required)
        :param str authorization: JWT Bearer Token (required)
        :return: SellerCampaignMessage
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_seller_campaign_with_http_info(seller_campaign_id, bid, authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.update_seller_campaign_with_http_info(seller_campaign_id, bid, authorization, **kwargs)  # noqa: E501
            return data

    def update_seller_campaign_with_http_info(self, seller_campaign_id, bid, authorization, **kwargs):  # noqa: E501
        """update_seller_campaign  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_seller_campaign_with_http_info(seller_campaign_id, bid, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str seller_campaign_id: (required)
        :param float bid: (required)
        :param str authorization: JWT Bearer Token (required)
        :return: SellerCampaignMessage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['seller_campaign_id', 'bid', 'authorization']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_seller_campaign" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'seller_campaign_id' is set
        if ('seller_campaign_id' not in local_var_params or
                local_var_params['seller_campaign_id'] is None):
            raise ValueError("Missing the required parameter `seller_campaign_id` when calling `update_seller_campaign`")  # noqa: E501
        # verify the required parameter 'bid' is set
        if ('bid' not in local_var_params or
                local_var_params['bid'] is None):
            raise ValueError("Missing the required parameter `bid` when calling `update_seller_campaign`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `update_seller_campaign`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'seller_campaign_id' in local_var_params:
            path_params['sellerCampaignId'] = local_var_params['seller_campaign_id']  # noqa: E501

        query_params = []
        if 'bid' in local_var_params:
            query_params.append(('bid', local_var_params['bid']))  # noqa: E501

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/seller-campaigns/{sellerCampaignId}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SellerCampaignMessage',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_seller_campaigns(self, authorization, seller_campaign_base, **kwargs):  # noqa: E501
        """update_seller_campaigns  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_seller_campaigns(authorization, seller_campaign_base, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: JWT Bearer Token (required)
        :param list[SellerCampaignBase] seller_campaign_base: (required)
        :return: list[SellerCampaignMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_seller_campaigns_with_http_info(authorization, seller_campaign_base, **kwargs)  # noqa: E501
        else:
            (data) = self.update_seller_campaigns_with_http_info(authorization, seller_campaign_base, **kwargs)  # noqa: E501
            return data

    def update_seller_campaigns_with_http_info(self, authorization, seller_campaign_base, **kwargs):  # noqa: E501
        """update_seller_campaigns  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_seller_campaigns_with_http_info(authorization, seller_campaign_base, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: JWT Bearer Token (required)
        :param list[SellerCampaignBase] seller_campaign_base: (required)
        :return: list[SellerCampaignMessage]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['authorization', 'seller_campaign_base']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_seller_campaigns" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in local_var_params or
                local_var_params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `update_seller_campaigns`")  # noqa: E501
        # verify the required parameter 'seller_campaign_base' is set
        if ('seller_campaign_base' not in local_var_params or
                local_var_params['seller_campaign_base'] is None):
            raise ValueError("Missing the required parameter `seller_campaign_base` when calling `update_seller_campaigns`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'authorization' in local_var_params:
            header_params['Authorization'] = local_var_params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'seller_campaign_base' in local_var_params:
            body_params = local_var_params['seller_campaign_base']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/v2/crp/seller-campaigns', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SellerCampaignMessage]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
